<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
  <appSettings>
    <add key="CAMINHO_BAT" value="\\tpb.corp\NETLOGON\TPB\Operacoes\Nespresso\USR\Scripts\OnexVDI\6.2.14.11\DAC_LAPA\Configura_Avaya_Nespresso.bat"/>
    <add key="CAMINHO_AVAYA" value="C:\Program Files (x86)\Avaya\Avaya one-X Communicator\onexcui.exe"/>
    <!--<add key="BLOQUEIOS" value="onexcui|Avaya one-X® Communicator|ButtonEnd"/>-->
    <!--<add key="BLOQUEIOS" value="LH.SoftPhone.Nespresso|LH.SoftPhone|      login;LH.SoftPhone.Hughes|LH.SoftPhone|backoffice;LH.SoftPhone.Hughes|LH.SoftPhone|     desligar;onexcui|Avaya one-X® Communicator|ButtonEnd"/>-->
    <!--<add key="BLOQUEIOS" value="LH.SoftPhone.Nespresso|LH.SoftPhone|      login"/>-->
    <!--<add key="BLOQUEIOS" value="LH.SoftPhone.Nespresso|LH.SoftPhone|backoffice"/>-->
    <add key="BLOQUEIOS" value="LH.SoftPhone.Nespresso|LH.SoftPhone|     desligar"/>
  </appSettings>
</configuration>